<div class="center">
  <div class="box-container" #frame></div>
</div>

<div class="flexbox" style="margin-bottom: 1rem">
  <button mat-raised-button color="accent" (click)="toggleSettings()">TOGGLE SETTINGS</button>
  <button mat-raised-button color="accent" (click)="toggleCapture()">TOGGLE CAPTURE</button>
</div>

<div class="flexbox" *ngIf="settingsVisible">
  <button mat-raised-button color="accent" (click)="openSettings()">OBJECTS</button>
  <button mat-raised-button color="accent" (click)="openPlantSettings()">PLANTS</button>

  <button mat-raised-button color="accent" (click)="step()" [disabled]="!paused || !objects || objects.length === 0">
    STEP
  </button>

  <button mat-raised-button color="accent" (click)="play()" [disabled]="!paused || !objects || objects.length === 0">
    PLAY
  </button>

  <button mat-raised-button color="accent" (click)="pause()" [disabled]="paused || !objects || objects.length === 0">
    PAUSE
  </button>

  <button mat-raised-button color="accent" (click)="reset()" [disabled]="!objects || objects.length === 0">
    RESET
  </button>

  <div class="break"></div>

  <mat-checkbox [(ngModel)]="usePerlinNoise">Perlin noise</mat-checkbox>

  <div class="break"></div>

  <mat-form-field class="example-full-width" style="margin-right: 1rem">
    <mat-label>World size</mat-label>
    <input matInput type="number" min="10" max="1000" [(ngModel)]="size" />
  </mat-form-field>

  <mat-form-field class="example-full-width" style="margin-right: 1rem">
    <mat-label>Waters</mat-label>
    <input matInput type="number" min="0" max="1000" [(ngModel)]="waters" [disabled]="usePerlinNoise" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Perlin method</mat-label>
    <mat-select [(ngModel)]="selectedMethod" [disabled]="!usePerlinNoise">
      <mat-option *ngFor="let method of methods" [value]="method">
        {{ method }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="break"></div>

  <div class="flexbox">
    <mat-label>Perlin scale</mat-label>
    <div class="break"></div>
    <mat-slider min="0" max="100" step="5" showTickMarks discrete>
      <input matSliderThumb [(ngModel)]="scale" [disabled]="!usePerlinNoise" />
    </mat-slider>
  </div>
</div>

<div class="flexbox" *ngIf="captureVisible">
  <div class="flexbox">
    <mat-label>Capture interval</mat-label>
    <div class="break"></div>
    <mat-slider min="1000" max="30000" step="1000" showTickMarks discrete [displayWith]="formatLabel">
      <input matSliderThumb [(ngModel)]="capturePeriod" />
    </mat-slider>
  </div>

  <button mat-raised-button color="accent" (click)="beginCapture()" [disabled]="captureInterval">BEGIN CAPTURE</button>
  <button mat-raised-button color="accent" (click)="endCapture()" [disabled]="!captureInterval">END CAPTURE</button>
</div>
