/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* COMMON STYLES IMPORTS */
@import "./app/shared/styles/common.styles.scss";
@import "./app/shared/styles/dialogs.styles.scss";
